/*--------------------------------------------------------------
WooCommerce Cart
--------------------------------------------------------------*/

// Right align quantity input in mobile
// Woocommerce breakpoint is at 769px
@media (max-width: 768px) {
  .woocommerce-cart-form .product-quantity .quantity {
    margin-left: auto;
  }
}

// Cart totals
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  width: 100%;
}

// Update cart button
// WooCommerce breakpoints are at 769px
@media (max-width: 768px) {
  .shop_table_responsive .actions button:not(.input-group button) {
    width: 100%;
  }
}

// WooCommerce cart thumbnail scaling
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
  width: 100%;
  min-width:100px;
  max-width:300px;
  min-height: 100px;
  max-height: 300px;
  box-shadow: none;
}
